

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    list-style-type: none;
  }
  body {

    background-color: #1A0032;
}
  /* Standard body text style */
ot {
    font-size: 16px;
    line-height: 1.5rem;
    font-family: "Open Sans", raleway;
    font-weight: 600;
    color: #888888;
  }
  
  /** Utility classes **/
  
  .gridContainer--default {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .gridContainer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .columns--scheduleLegend {
    width: 521px;
  }
  
  .columns--sponsors {
    width: 303px;
  }
  
  .columns--11 {
    width: 1099px;
  }
  
  .columns--10 {
    width: 998px;
  }
  
  .columns--9 {
    width: 897px;
  }
  
  .columns--8 {
    width: 798px;
  }
  
  .columns--7 {
    width: 695px;
  }
  
  .columns--6 {
    width: 594px;
  }
  
  .columns--5 {
    width: 493px;
  }
  
  .columns--4 {
    width: 393px;
  }
  
  .columns--3 {
    width: 291px;
  }
  
  .columns--2 {
    width: 190px;
  }
  
  .flex {
    display: flex;
  }
  
  .flex--center {
    justify-content: center;
  }
  
  .flex--spaceBetween {
    justify-content: space-between;
  }
  
  .flex--end {
    justify-content: flex-end;
  }
  
  .flex--wrap {
    flex-wrap: wrap;
  }
  
  .alignItems--center {
    align-items: center;
  }
  
  .flex--rowReverse {
    flex-direction: row-reverse;
  }
  
  .underline {
    text-decoration: underline;
  }
  
  .bold {
    font-weight: 800;
  }
  
  .marginBottom--0 {
    margin-bottom: 16px;
  }
  
  .marginBottom--1 {
    margin-bottom: 2.25rem;
    /* 36px */
  }
  
  .marginTop--1 {
    margin-top: 1rem;
    /* 36px */
  }
  
  .marginBottom--2 {
    margin-bottom: 4.5rem;
    /* 72px */
  }
  
  .marginTop--2 {
    margin-top: 4.5rem;
    /* 72px */
  }
  
  .marginBottom--3 {
    margin-bottom: 9rem;
    /* 144px */
  }
  
  .marginTop--3 {
    margin-top: 9rem;
    /* 144px */
  }
  
  .marginTop--4 {
    margin-top: 2.5rem;
  }
  
  .marginTop--5 {
    margin-top: 2.25rem;
  }
  
  .marginTop--6 {
    margin-top: 0.25rem;
  }
  
  /****************************************************/
  
  .paddingBottom--1 {
    padding-bottom: 2.25rem;
  }
  
  .paddingTop--1 {
    padding-top: 2.25rem;
  }
  
  .paddingBottom--2 {
    padding-bottom: 4.5rem;
  }
  
  .paddingTop--2 {
    padding-top: 1rem;
  }
  
  .paddingBottom--3 {
    padding-bottom: 9rem;
  }
  
  .paddingTop--3 {
    padding-top: 9rem;
  }
  
  .paddingBottom--4 {
    padding-bottom: 1.5rem;
  }
  
  a {
    transition: 0.2s;
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    transition: 0.2s;
    color: #383938;
  }
  
  p {
    color: #f5dbd1;
  }
  
  /****************************************************/
  
  /* Logo image */
  

  .siteHeader {
    /*background: #f4f4f9;*/
    background: #f9ac3d;
    padding: 24px;
    position: sticky;
    margin-top: -5px;
    z-index: 1000;
  }
  
  .siteHeader--home {
    background: #4462b1;
    margin-top: 0px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .siteHeader--about {
    background: #f9ac3d;
  }
  
  .siteHeader--faq {
    background: #cf4917;
  }
  
  .siteHeader--team {
    background: #383938;
  }
  
  .siteHeader--schedule {
    background: #27ae60;
  }
  
  .siteHeader--sponsorship {
    background: #2d758c;
  }
  .siteHeader--home.is-sticky {
    /*background: #2767e4;*/
    transition: 0.3s;
    /*background: #00cbff;*/
    /*background: #20bff9;*/
    background: rgba(0, 0, 0, 1.0);
  }
  
  
  /****************************************************/
  
  .hero-bg {
    /* background-image: url(images/hero-bg.svg); */
    width: 100%;
    /* background-size: cover; */
    background-size: 125% auto;
    background-position: top center;
     background-image: url(images/revisedLanding.jpg); 
  /*  background-color: #4462b1;*/
  }
  
  .hero {
    /* background: #3379ff;
    padding-top: 258px; */
    height: 90.85vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 85%;
    font-size: 8.34375rem;
    /*261.5px*/
    text-align: center;
    color: #fff;
    /* Text drop shadow */
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  }
  
  .hero-subtitle {
    
    padding-bottom: 74px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 2.375rem;
    /*38px*/
    text-align: center;
    letter-spacing: 0.06em;
  /*  color: #233963;*/
      color:white;
    /* Text drop shadow */
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  }
  
  .hero-tickets-button {
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9ac3d;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 1.25rem;
    /*20px*/
    width: 392px;
    height: 74px;
    background-color: transparent;
    text-shadow: none;
    border: 2px solid #f9ac3d;
    border-radius: 5px;
  }
  
  /* .hero-tickets-button:active {
    transition: none;
    -moz-box-shadow: inset 0px 0px 0px 3px #d4b344;
    -webkit-box-shadow: inset 0px 0px 0px 3px #d4b344;
    box-shadow: inset 0px 0px 0px 3px #d4b344;
  } */
  
  .hero-tickets-button:hover {
    font-size: 1.3rem;
    background-color: transparent;
    color: #f9ac3d;
    border-radius: 15px;
  }
  
  .countdown {
    height: 10.2vh;
    position: relative;
    background-image: url(images/bg.png);
    background-position: center;
    background-repeat: repeat-y;
    text-align: center;
  }
  
  .countdown:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    background: #434343;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) rotate(45deg);
  }
  
  .countdown-label {
    text-align: right;
    color: #f4f4f9;
    background-color: #434343;
    /* Shifts graphic to right side */
    margin-left: 530px;
    padding: 28px 36px 28px 28px;
  }
  
  .countdown-title {
    font-style: normal;
    font-weight: 800;
    font-size: 2.25rem;
    margin-bottom: 8px;
    padding-top: 8px;
  }
  
  .countdown-hashtag {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }
  
  .countdown-timer {
    padding-top: 16px;
    display: flex;
    color: #434343;
  }
  
  .countdown-section {
    /* Spacing between text inside countdown bar */
    margin-left: 64px;
    padding-bottom: 8px;
  }
  
  .countdown-section:first-child {
    margin-left: 36px;
  }
  
  .countdown-sectionNumber {
    font-size: 2.25rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    margin-bottom: 8px;
  }
  
  .countdown-sectionLabel, .countdown-sectionNumber {
    width: 3rem;
    text-align: center;
  }
  
  .intro {
    background: rgba(244, 244, 249, 0.85);
  }
  
  .welcome {
    background-color: #1A0032;
    height: 81vh;
  }
  
  .FAQ {
    background-color: #1A0032;
    
  }
  
  .sponsorship {
    background-color: #1A0032;
  }
  
  .sponsors {
    background-color: #1A0032;
  }
  
  /*default title style*/
  
  .title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 2rem;
    color: #434343;
    text-align: left;
  }
  
  .title--center {
    text-align: center;
  }
  
  .para--center {
    text-align: center;
  }
  
  .newsletter {
    background-color: #434343;
  }
  
  .title--white {
    color: #f4f4f9;
  }
  
  .para--newsletter {
    color: #bababa;
  }
  
  .form-input-text {
    width: 404px;
    height: 48px;
    padding-left: 12px;
    font-weight: normal;
    border-style: none;
  }
  
  .sub-button {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: #f4f4f9;
    text-shadow: none;
    width: 190px;
    height: 48px;
    background-color: #3379ff;
    border-style: none;
    outline: none;
  }
  
  .sub-button:active {
    transition: none;
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(67, 67, 67, 0.3);
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(67, 67, 67, 0.3);
    box-shadow: inset 0px 0px 0px 3px rgba(67, 67, 67, 0.3);
  }
  
  .sub-button:hover {
    background-color: #2967df;
  }
  
  .streams-pic {
    box-sizing: border-box;
    width: 695px;
    height: 445px;
  }
  
  .streams-textRight {
    background-color: #3379ff;
    /* height: 286px; */
    padding: 71px;
    margin-left: -89px;
  }
  
  .streams-textLeft {
    margin-left: 0px;
    margin-right: -89px;
  }
  
  .para--streams {
    color: #d4d4d4;
  }
  
  .quote {
    background-color: #434343;
  }
  
  .quote-pic {
    /* Image size */
    width: 190px;
    height: 190px;
  }
  
  .quote-marks {
    font-family: serif;
    font-style: normal;
    font-weight: 600;
    line-height: 10%;
    font-size: 100px;
    color: #f4f4f9;
  }
  
  .quote-marks:first-child {
    position: absolute;
    top: 25px;
    left: -60px;
    opacity: 0.2;
  }
  
  /*.quote-marks:last-child {
    position: relative;
    bottom: -10px;
    right: -3px;
    /* font-size: 4rem;
    opacity: 0.2;
  }*/
  
  .quote-text {
    position: relative;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    font-size: 1.85rem;
    color: #d4d4d4;
    margin-bottom: 20px;
  }
  
  .quote-text:after {
    content: "";
    display: block;
    width: 9%;
    padding-top: 36px;
    border-bottom: 1.5px solid #3379ff;
    /*opacity: 0.2;*/
  }
  
  .quote-author {
    font-weight: 600;
    font-size: 1.00rem;
    line-height: normal;
    color: #f4f4f9;
    letter-spacing: 2px;
  }
  
  .sponsors-item {
    /* Image size */
    box-sizing: border-box;
    /* border: 1px solid cyan; */
    /* width: 33%; */
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sponsors-logos {
    /* background: #bababa; */
    width: 303px;
    height: 200px;
  }
  
  /* .sponsor-logo {
    transition: all 0.2s ease-in-out;
  } */
  
  /* .sponsor-logo:hover {
    opacity: 0.5;
  } */
  
  /** Footer CSS **/
  
  footer {
    background-color: #e8e8e8;
    color: #434343;
  }
  
  .footer-hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #d4d4d4;
  }
  
  .eachLink-top {
    transition: all 0.2s ease-in-out;
    color: #434343;
    text-decoration: none;
    line-height: 25px;
  }
  
  .bottomLink-item {
    display: inline;
  }
  
  .bottomLink-item:before {
    content: " | ";
    opacity: 0.2;
  }
  
  .bottomLink-item:first-child:before {
    content: "";
  }
  
  .eachLink-bottom {
    transition: all 0.2s ease-in-out;
    color: #434343;
    text-decoration: underline;
  }
  
  .eachLink-bottom:hover, .eachLink-top:hover {
    color: #3379ff;
  }
  
  .socialLink-item {
    /*color: cyan;
    font-weight: 300;*/
    /* Image size */
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    /*border: 1px solid cyan;
    /*background-color: #bababa;*/
    margin-left: 22px;
  }
  
  .social-icon:hover .social-icon-fill {
    transition: all 0.2s ease-in-out;
    fill: #3379ff;
  }
  
  /** end of Homepage CSS **/
  
  .title--main {
    font-weight: 900;
    font-size: 4rem;
    /* 64px */
  }
  
  .stats-icon {
    /* Image size */
    box-sizing: border-box;
    width: 88px;
    height: 88px;
    margin-left: 6px;
    /*border: 1px solid cyan;*/
  }
  
  .stats-icon--speakers {
    margin-left: -20px;
  }
  
  .stats-number {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 2rem;
    /* 32px */
    text-align: left;
    color: #3379ff;
    margin-left: 18px;
  }
  
  .stats-number--speakers {
    margin-left: 0px;
    padding-left: 0px;
  }
  
  .stats-type {
    font-weight: normal;
    font-size: 1rem;
    /* 16px */
  }
  
  .welcome-pic {
    /* Image size */
    box-sizing: border-box;
    width: 695px;
    height: 544px;
    /*border: 1px solid cyan;*/
  }
  
  .pres-message {
    background-image: linear-gradient(270deg, #434343 24.88%, rgba(67, 67, 67, 0.5) 100%), url(images/team_photo_cropped.png);
    /*width: 100vw;*/
    width: 100%;
    background-size: cover;
    background-position: top center;
    color: #d4d4d4;
  }
  
  .subtitle {
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
  }
  
  .signature {
    font-family: "Herr Von Muellerhoff", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 75px;
    color: #f4f4f9;
  }
  
  .FAQ-items--question {
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 1.25rem;
    /* 20px */
    color: #531d09;
    margin-bottom: 1.5rem;
    /* 24px */
  }
  
  /** end of About page CSS **/
  
  .tickets-pic {
    /* Image size */
    box-sizing: border-box;
    width: 897px;
    height: 215px;
    /*border: 1px solid cyan;*/
  }
  
  .pricingTable {
    border-collapse: collapse;
    width: 100%;
    /*margin-left: 25%;
    margin-right: 25%;*/
    color: #f4f4f9;
  }
  
  .pricingTable-cell {
    text-align: center;
    /*padding: 26px;*/
    padding: 22px;
  }
  
  .pricingTable-body .pricingTable-row:nth-child(odd) {
    background: linear-gradient(270deg, rgba(67, 67, 67, 0) 0%, #595959 50%, rgba(67, 67, 67, 0) 100%);
  }
  
  .pricingTable-body .pricingTable-cell:first-child {
    text-align: left;
    padding-left: 0;
  }
  
  .pricingTable-header .pricingTable-cell:first-child {
    /*width: 25%;*/
    width: 17%;
  }
  
  .pricingTable-header .pricingTable-cell:last-child {
    width: 1px;
    white-space: nowrap;
    padding-right: 0;
  }
  
  .pricingTable-body .pricingTable-cell:last-child {
    padding-right: 0;
  }
  
  .pricing {
    background-color: #434343;
  }
  
  .pricingTable-header {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
  }
  
  .pricingTable-text--greyedOut {
    color: #888888;
  }
  
  .pricingTable-prices {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 36px;
    text-align: center;
  }
  
  .pricing-details-label {
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    color: #f4f4f9;
  }
  
  .pricing-convert-link {
    transition: all 0.2s ease-in-out;
    color: #bababa;
  }
  
  .pricing-convert-link:hover {
    color: #3379ff;
  }
  
  .pricingTable-days {
    font-size: 16px;
    font-weight: 600;
    color: #bababa;
  }
  
  /** Schedule CSS **/
  
  .schedule--legendText {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    color: #888888;
  }
  
  .schedule--legendDot {
    height: 14px;
    width: 14px;
    background-color: #21aefe;
    border-radius: 50%;
    display: inline-block;
    margin-right: 14px;
  }
  
  .schedule--workshopHue {
    background-color: #27ae60;
  }
  
  .schedule--panelsHue {
    background-color: #eb5757;
  }
  
  .schedule--expoHue {
    background-color: #bb6bd9;
  }
  
  /** Timetable code **/
  
  .schedule {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
  }
  
  .schedule-column {
    position: relative;
    width: 240px;
    /* <--- adjust individual column width here */
    height: 1620px;
    /*Set max height to "subtract" 8pm height*/
  }
  
  .schedule-column:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
    height: 1620px;
    /*Set max height to "subtract" 8pm height*/
  }
  
  .schedule-time, .schedule-event {
    position: absolute;
  }
  
  .schedule-time {
    border-top: 1px solid #d8d8d8;
    width: 1200px;
    /* <--- adjust total table width here */
  }
  
  /*.schedule-time:last-child {
    transform: translateY(12px);
    border-bottom: 1px solid #d8d8d8;
    }*/
  
  .schedule-timeLabel {
    background: white;
    width: 60px;
    transform: translateY(-50%);
    text-align: right;
    padding-right: 10px;
  }
  
  .schedule-event {
    background: black;
    color: white;
    /*For adding space between columns*/
    left: 0px;
    right: 0px;
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
    /*default font style for event details*/
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #E0E0E0;
  }
  
  /*.schedule-event:hover {
    overflow: visible;
    }*/
  
  .schedule--track1 .schedule-event {
    background-color: #21aefe;
  }
  
  .schedule--track2 .schedule-event {
    background-color: #27ae60;
  }
  
  .schedule--track3 .schedule-event {
    background-color: #eb5757;
  }
  
  .schedule--track4 .schedule-event {
    background-color: #bb6bd9;
  }
  
  .schedule-event--special {
    background: blue !important;
  }
  
  .is-hidden {
    display: none;
  }
  
  .scheduleToggle {
    border: 2px solid #3379ff;
    border-radius: 5px;
  }
  
  .daySwitcher {
    position: relative;
  }
  
  .daySwitcher-radio {
    position: absolute;
    visibility: hidden;
  }
  
  .daySwitcher-label {
    color: #3379ff;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    display: inline-block;
    width: 196px;
    padding: 12px 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .daySwitcher-radio:checked+.daySwitcher-label {
    background: #3379ff;
    color: white;
    filter: none;
  }
  
  .daySwitcher-label:hover {
    /*filter: invert(82%) sepia(16%) saturate(537%) hue-rotate(196deg) brightness(102%) contrast(101%);*/
    /*filter: invert(100%) sepia(73%) saturate(1675%) hue-rotate(179deg) brightness(102%) contrast(108%);*/
    /*filter: invert(52%) sepia(69%) saturate(1557%) hue-rotate(158deg) brightness(106%) contrast(109%);*/
    color: #00cbff;
  }
  
  .daySwitcher-label:active {
    color: #2967df;
  }
  
  .event-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #F4F4F9;
  }
  
  .event-propertyName {
    display: none;
  }
  
  .schedule-event {
    transition: 0.3s;
  }
  
  .schedule-event:hover {
    margin-top: -5px;
  }
  
  .schedule-event:hover .event-propertyName {
    display: inline;
  }
  
  .event-time {
    display: none;
  }
  
  .schedule-event:hover .event-time {
    display: inline;
  }
  
  /********************/
  
  .speakers {
    background: #747474;
  }
  
  .speakersContainer {
    width: 798px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
      
  }
  
  .speaker {
    width: 33%;
    text-align: center;
  }
  
  .speaker-headshot {
    width: 189px;
    height: 189px;
  }
  
  .speaker-name {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
    color: #f4f4f9;
    padding-top: 10px;
  }
  
  /** Venue CSS starts here **/
  
  .venue-pic {
    /* Image size */
    box-sizing: border-box;
    width: 493px;
    height: 176px;
    /*border: 1px solid cyan;*/
  }
  
  .map {
    width: 1200px;
    height: 640px;
    background-color: grey;
  }
  
  .map-frame {
    border: 0px;
    /*used because frameborder is obsolete*/
  }
  
  .accommodation--title {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: normal;
    color: #434343;
  }
  
  .download-package-button {
    width: 291px;
  }
  
  .download-package-button:hover {
    width: 291px;
  }
  
  .download-package-button:active {
    width: 291px;
  }
  
  .sponsors-pic {
    box-sizing: border-box;
    width: 731px;
    height: 280px;
    /*border: 1px solid cyan;*/
  }
  
  /** Contact CSS starts here **/
  
  .contact-form--label {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    color: #434343;
  }
  
  .contact-form--input {
    margin-top: 12px;
    width: 594px;
    height: 48px;
    padding-left: 12px;
    border: 1px solid #d1d1d1;
  }
  
  .contact-form--inputMessage {
    padding-top: 12px;
    height: 240px;
    resize: vertical;
  }
  
  .contactPageGfx {
    background-image: url(images/contact-gfx-left.svg), url(images/contact-gfx-right.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 22%, 100% 22%;
  }
  
  .redAsterisk {
    color: #eb5757;
    padding-right: 4px;
    padding-left: 4px;
  }
  
  .text-left{

color: #fff;
  }

.display-3{
    color: #16BAFF;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.bigText{
    color: #15365e;
    font-size:60px;
    text-align:center;
    font-family: "brandon-grotesque", sans-serif;
    padding-top:10px;
}
.h2Text{
    color: #15365e;
    text-align:center;
    font-family: "brandon-grotesque", sans-serif;
}
.dateRow{
    margin-top:20px;
    padding-top:20px;
}
.firstPage{
    padding-top:25px;
}
.jumbotron{
    margin-bottom:0px !important;
    margin-right:0px !important;
    margin-left:0px !important;
}
.container-fluid{
    padding-top:10px;
}
.detailsText{
    text-align:center;
}
#peddieBlueAndGold{/** storing these here in case we decide to use them**/
    background-color: #cc9800;

    background-color: #153256;
}

.headerText{
    color: #cc9800;
    font-size: 40px;
    font-family: "brandon-grotesque", sans-serif;
    margin-top:20px;
}
.bodyText{
    color: #15365e;
    font-size: 30px;
    margin-left:30px;
    font-family: "brandon-grotesque", sans-serif;
}

.imageDesc{
    color: #15365e;
    font-size: 20px;
    font-family: "brandon-grotesque", sans-serif;
}
.sponsors{
    text-align:center;
}

.large{
    font-size: 70px;
    font-weight:900;
    color:white;
}
.sponsorsLink{
    color: #15365e;
    font-weight:bold;
    text-decoration: underline;
}
.sponsorsLink:hover {
    
    background-color: lightblue; 
  }
.largeTitle{
    font-size: 70px;
    font-weight:900;
    color:white;
}
.textAlignment{
    text-align:center;
    justify-content:left;
}
.faq{
    text-align:center;
}
.details{
    text-align:center;
}
.bodyTextfaq{
    color: #15365e;
    font-size: 20px;
    margin-left:30px;
    font-family: "brandon-grotesque", sans-serif;
}
.sponsorsText{
    color: #15365e;
    font-size: 50px;
    font-weight: 900;
    font-family: "brandon-grotesque", sans-serif;
    margin-bottom:70px;
    
    text-decoration: underline;
}
.picture{
    justify-content: center; 
        width: 100%; 
        height:auto!important;
        margin-bottom:40px;
}

.fa {
    padding: 10px;
    width: 5px;
    text-align: center;
    text-decoration: none;
  }

.background{
    color:white; /*Change stuff inside this for background color*/
}
@media (max-width:992px){
    .largeTitle{
        font-size:35px;
    }
}
@media (max-width:992px){
    .bodyText{
        font-size:20px;
    }
}