* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    list-style-type: none;
    font-family: "Raleway", sans-serif;
  }
  body {
    margin:0px;
    background-color: #FFD06E;
}
  /* Standard body text style */
ot {
    font-size: 16px;
    line-height: 1.5rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #888888;
  }
  body,html {
    height: 100%;
    margin:0;
    overflow-x: hidden;
  }
  .navbar-custom li a:hover {
    text-decoration: 4px underline;
    text-decoration-color:bisque;
}
  /** Utility classes **/
  
  .gridContainer--default {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
  
  .gridContainer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .gridContainer columns--4 {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  a {
    transition: 0.2s;
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    transition: 0.2s;
    color: #383938;
  }
  
  p {
    color: #f5dbd1;
  }
  
  .logo {
    box-sizing: border-box;
    max-width: 100%;
    height: 30px;

  }
  .logo1{
    box-sizing: border-box;
    width: auto;
    height: 50px;
  }
 
  .siteHeader {
    background: #f9ac3d;
    padding: 24px;
    position: sticky;
    margin-top: -5px;
    z-index: 1000;
  }
  
  .siteHeader--home {
    background: #180032;
    margin-top: 0px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .siteHeader--about {
    background: #180032;
  }
  
  .siteHeader--faq {
    background: #180032;
  }
  
  .siteHeader--team {
    background: #180032;
  }
  
  .siteHeader--schedule {
    background: #180032;
  }
  
  .siteHeader--sponsorship {
    background: #180032;
  }

  .siteHeader--home.is-sticky {
    transition: 0.3s;
    background: rgba(0, 0, 0, 1.0);
  }
  
  .hero-bg {
    width: 100%;
    height: 100%;
    background-size: 125% auto;
    background-position: top center;

  }
  
  .hero {

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-tickets-button {
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #004A9F;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-family: 'Raleway',serif;
    font-size: 1.5rem;
    width: 392px;
    height: 74px;
    background-color: transparent;
    text-shadow: none;
    border: 5px solid #004A9F;
    border-radius: 5px;
  }

  .hero-tickets-button:hover {
    font-size: 1.3rem;
    background-color: transparent;
    color: #ff4a77;
    border: 5px solid #ff4a77;
    border-radius: 15px;
  }

::-webkit-scrollbar {
    width: 5px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.headerText{
    color: #F3F859;
    font-size: 40px;
    font-family: "brandon-grotesque", sans-serif;
    margin-top:-40px;
}
.bodyText{
    color: #15365e;
    font-size: 17px;
    font-family: "brandon-grotesque", sans-serif;
}

.imglogos{
  display:flex;
  justify-content: left;

 
}
.navbar-brand {
  font-size: larger;
  color:white;
  
}
.nav{
  padding:0px;
  margin: 0px;
}
nav ul {
  padding: 0px;
  display: flex;
  float: center;
  justify-content: space-between;
  list-style-type: none;
max-width: 100%;
margin:10px;
}

nav li a {
  font-family: 'Raleway';
  font-size: 20px;
  padding: 20px;
  color: white ;
  font-weight: bold;
  display: inline;
  max-width:100%;
}
.navbar-custom {
  background-color:#005E9f;
  height: 150px;
  max-width: 100%;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.navbar-box {
  height: 150px;
  max-width: 100%;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.grid-container {
  display: grid;
  grid-gap: ss10px;
  padding: 10px;
}

.grid-item {
  color: #f3f859;
  font-family: 'Raleway',serif;
  text-align: left;
  padding: 10px;
  font-size: 50px;
  font-weight: bold;
}
.grid-item p{
  color:#fff;
  font-family: 'Raleway',serif;
  text-align: left;
  font-size: 25px;
   
  padding:5px;
}
.item1 {
  grid-column: 1 ;
  grid-row: 1;
  max-width:80%;
  color: goldenrod;
}
.item2{
  grid-column: 2 ;
  grid-row: 1/span 2;
}
.item3 {
  grid-column: 1;
  grid-row: 2;
}
.calligram{     
  width: 650px;
  height: 650px;     
  align-items: center;      
  justify-items: center;

}
.peddie{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.bodyTextfaq{
  padding-left: 5%;
  padding-right: 5%;
  padding-top:1%;
  padding-bottom:2%;
}

.headerText{
  padding-top: 3%;
}
.faqtitle{
  padding-bottom: 2%;
}
.aligncenter {
  text-align: center;
}

.column2 p {
  color:black;
  font-family: 'Raleway', serif;
  font-size: 20px;
  padding: 5px;
  text-align: left;
  font-weight: bold;
  
}
.column2 p2 {
  color:black;
  font-family:'Raleway', serif;
  font-size: 30px;
  padding: 5px;
  text-align: center;
}
#rect{
  width: 350px;
  height: 690px;
  background-color:goldenrod;
  padding:20px;
  border-radius: 20px;
}
h2 {
  text-align: center;
  font-family: 'Raleway', serif;
  font-size: 80px;
  color: white;
  font-weight: bold;
  padding: 15px;
}
.row {
  display: flex;
  padding-left: 3%;
  padding-right: 3%;
}
.column {
  flex: 20%;
  width: 20%;
  align-items: center; 
}
.column img {
  width: 300px;
  height: 320px;
  background-size: cover;
}
.column4 {
  flex: 25%;
  width: 25%;
  align-items: center; 
}
.row2{
  padding-left:12%;
  padding-right:12%;
  display: flex;
}
.column4 img{
  width: 300px;
  height: 320px;
  background-size: cover;
  
}
.column4 p{
  word-wrap: break-word;
  width:300px;
  margin-left: auto;
  margin-right: auto;
 
}
.img-with-text {
  text-align: center;
}
.column p {
  color:goldenrod;
  font-family: 'Raleway', serif;
  font-size: 16px;
  font-weight: bold;
}
.column4 p {
  color:goldenrod;
  font-family: 'Raleway', serif;
  font-size: 16px;
  font-weight: bold;
}

#rect2{
  width: 300px;
  height: 410px;
  background-color:goldenrod;
  padding: 20px;
  border-radius: 20px;
}
#rect3{
  width: 325px;
  height: 300px;
  background-color:goldenrod;
  border-radius: 0px 0px 0px 20px;
  padding-top:10px;
  padding-left: 15px;
}
#rect4{
  width: 325px;
  height: 300;
  background-color:goldenrod;
  border-radius: 0px 0px 20px 0px;
  padding-top:10px;
  padding-right: 15px;

}
  #rect5{
    width: 300px;
    height: 440px; 
    background-color:goldenrod;
    padding: 20px;
    border-radius: 20px;
}  
#rect6 {
  width: 300px;
  height: 800px;
  background-color:goldenrod;
  padding: 20px;
  border-radius: 20px;
}

#rect7 {
  width: 650px;
  height: 50px;
  background-color:goldenrod;
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
}
#rect8 {
  width: 650px;
  height: 50px;
  background-color:goldenrod;
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
}
#rect9{
  width: 325px;
  height: 390px;
  background-color:goldenrod;
  border-radius: 0px 0px 0px 20px;
  padding-top:15px;
}
#rect10{
  width: 325px;
  height: 390px;
  background-color:goldenrod;
  border-radius: 0px 0px 20px 0px;
  padding-top:15px;

}
#rect11{
  width: 300px;
  height: 630px;
  background-color:goldenrod;
  border-radius: 0px 0px 0px 20px;
  padding-top:10px;
  padding-left: 15px;
}
#rect12{
  width: 300px;
  height: 630px;
  background-color:goldenrod;
  border-radius: 0px 0px 20px 0px;
  padding-top:10px;
  padding-right: 15px;

}
#rect13 {
  width: 600px;
  height: 60px;
  background-color:goldenrod;
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
}
#rect14{
  width: 300px;
  height: 350px;
  background-color:goldenrod;
  padding: 20px;
  border-radius: 20px;
}
.section2 {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 1%;
  grid-auto-flow: column;
 padding: 15px;
}
.column3 p {
  color:black;
  font-family: 'Raleway', serif;
  font-size: 15px;
  padding: 3px;
  text-align:center;
  font-weight: bold;
  
}
.column5 p2 {
  color:black;
  font-family:'Raleway', serif;
  font-size: 30px;
  text-align: center;
}
.column3 p2 {
  color:black;
  font-family:'Raleway', serif;
  font-size: 22px;
  text-align: center;
  padding:10px;
}

.column3 {
  flex: 50%;
  padding-right: 0%;
}
.row3{
  display: flex;
  text-align: center;
}
.row4{
  display: flex;
  padding-left: 7.5%;
  padding-right: 7.5%;
  text-align: center;
}
.column5{
  padding-left: 7.5%;
  padding-right: 7.5%;
  text-align: center; 
  padding:15px;
}
section {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 3%;
  grid-auto-flow: column;
 padding: 1.8%;
}
.column6{
  flex:45%;
  float: center;
margin-left:5%;

}
.column6 p{
  color:#fff;
  font-family: 'Raleway',serif;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  padding:5px;
  margin-right:auto;
  margin-left:auto;
}
.column6 p2{
  
  color: goldenrod;
  font-family: 'Raleway',serif;
  text-align: left;
  padding: 10px;
  font-size: 50px;
  font-weight: bold;
}
.column7 img{
  height:400px;
  width:400px;
align-items: center;
padding: 20px;
margin-left: 15%;
}
.row5{
  display: flex;
  align-items: center;
}
.row5 img{
  height: 350px;
  width: 100%;
}
.column7 {
flex:30%;
}

.section3 {
  display: inline-block;
  grid-auto-flow: column;
 padding: 1.8%;
}
.swag{
  display: inline-flex
}
.swag2{
  display:table-column;
}
.picture{
  justify-content: center; 
      width: 100%; 
      height:auto!important;
      margin-bottom:40px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}