* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    list-style-type: none;
    font-family: "Raleway", sans-serif;
  }
  body {
    margin:0px;
    background-color: #180032;
}
  /* Standard body text style */
ot {
    font-size: 16px;
    line-height: 1.5rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #888888;
  }
  body,html {
    height: 100%;
    margin:0;
    overflow-x: hidden;
  }
  /** Utility classes **/
  
  .gridContainer--default {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
  
  .gridContainer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .gridContainer columns--4 {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .columns--scheduleLegend {
    width: 521px;
  }
  
  .columns--sponsors {
    width: 303px;
  }
  
  .columns--11 {
    width: 1099px;
  }
  
  .columns--10 {
    width: 998px;
  }
  
  .columns--9 {
    width: 897px;
  }
  
  .columns--8 {
    width: 798px;
  }
  
  .columns--7 {
    width: 695px;
  }
  
  .columns--6 {
    width: 594px;
  }
  
  .columns--5 {
    width: 493px;
  }
  
  .columns--4 {
    width: 393px;
  }
  
  .columns--3 {
    width: 291px;
  }
  
  .columns--2 {
    width: 190px;
  }
  
  .flex {
    display: flex;
    height: 200px;
  }
  
  .flex--center {
    justify-content: center;
  }
  
  .flex--spaceBetween {
    justify-content: space-between;
  }
  
  .flex--end {
    justify-content: flex-end;
  }
  
  .flex--wrap {
    flex-wrap: wrap;
  }
  
  .alignItems--center {
    align-items: center;
  }
  
  .flex--rowReverse {
    flex-direction: row-reverse;
  }
  
  .underline {
    text-decoration: underline;
  }
  
  .bold {
    font-weight: 800;
  }
  
  .marginBottom--0 {
    margin-bottom: 16px;
  }
  
  .marginBottom--1 {
    margin-bottom: 2.25rem;
    /* 36px */
  }
  
  .marginTop--1 {
    margin-top: 1rem;
    /* 36px */
  }
  
  .marginBottom--2 {
    margin-bottom: 4.5rem;
    /* 72px */
  }
  
  .marginTop--2 {
    margin-top: 4.5rem;
    /* 72px */
  }
  
  .marginBottom--3 {
    margin-bottom: 9rem;
    /* 144px */
  }
  
  .marginTop--3 {
    margin-top: 9rem;
    /* 144px */
  }
  
  .marginTop--4 {
    margin-top: 2.5rem;
  }
  
  .marginTop--5 {
    margin-top: 2.25rem;
  }
  
  .marginTop--6 {
    margin-top: 0.25rem;
  }
  
  /****************************************************/
  
  .paddingBottom--1 {
    padding-bottom: 2.25rem;
  }
  
  .paddingTop--1 {
    padding-top: 2.25rem;
  }
  
  .paddingBottom--2 {
    padding-bottom: 4.5rem;
  }
  
  .paddingTop--2 {
    padding-top: 1rem;
  }
  
  .paddingBottom--3 {
    padding-bottom: 9rem;
  }
  
  .paddingTop--3 {
    padding-top: 9rem;
  }
  
  .paddingBottom--4 {
    padding-bottom: 1.5rem;
  }
  
  a {
    transition: 0.2s;
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    transition: 0.2s;
    color: #383938;
  }
  
  p {
    color: #f5dbd1;
  }
  
  /****************************************************/
  
  /* Logo image */
  
  .logo {
    box-sizing: border-box;
    max-width: 100%;
    height: 30px;

    /*background-image: url(images/inspr-19-logo.svg);*/
  }
  .logo1{
    box-sizing: border-box;
    width: auto;
    height: 50px;
  }
 
  .siteHeader {
    /*background: #f4f4f9;*/
    background: #f9ac3d;
    padding: 24px;
    position: sticky;
    margin-top: -5px;
    z-index: 1000;
  }
  
  .siteHeader--home {
    background: #180032;
    margin-top: 0px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .siteHeader--about {
    background: #180032;
  }
  
  .siteHeader--faq {
    background: #180032;
  }
  
  .siteHeader--team {
    background: #180032;
  }
  
  .siteHeader--schedule {
    background: #180032;
  }
  
  .siteHeader--sponsorship {
    background: #180032;
  }
/*   
  .siteHeader--about .nav-button:hover {
    color: #180032;
  }
  
  .siteHeader--about .nav-button-selected:hover {
    color: #fff;
  }
  
  .siteHeader--about .nav-tickets-button:hover {
    color: #f9ac3d;
  }
  
  .siteHeader--faq .nav-button:hover {
    color: #180032;
  }
  
  .siteHeader--faq .nav-button-selected:hover {
    color: #180032;
  }
  
  .siteHeader--faq .nav-tickets-button:hover {
    color: #180032;
  }
  
  .siteHeader--team .nav-button:hover {
    color: #fff;
  }
  
  .siteHeader--team .nav-button-selected:hover {
    color: #fff;
  }
  
  .siteHeader--team .nav-tickets-button:hover {
    color: #383938;
  }
  
  .siteHeader--schedule .nav-button:hover {
    color: #fff;
  }
  
  .siteHeader--schedule .nav-button-selected:hover {
    color: #fff;
  }
  
  .siteHeader--schedule .nav-tickets-button:hover {
    color: #27ae60;
  }
  
  .siteHeader--sponsorship .nav-button:hover {
    color: #fff;
  }
  
  .siteHeader--sponsorship .nav-button-selected:hover {
    color: #fff;
  }
  
  .siteHeader--sponsorship .nav-tickets-button:hover {
    color: #180032;
  }
   */
  .siteHeader--home.is-sticky {
    /*background: #2767e4;*/
    transition: 0.3s;
    /*background: #00cbff;*/
    /*background: #20bff9;*/
    background: rgba(0, 0, 0, 1.0);
  }
  
  /* .nav{
    height:200px;
  }
  .nav-items {
    display: flex;
    height: 200px;
  }
  
  .nav-item {
    /* Shift button text down to align with Get Tickets text */
    /* padding-top: 8px;
    /* Spacing btwn buttons */
    /* margin-left: 36px;
    height: 200px;
  } */
  
  /* .nav-item:first-child {
   
    margin-left: -30px;
  } */
  
  /* .nav-item:last-child {
    margin-right: 42vw;
  } */
/*   
  .nav-button {
    transition: all 0.2s ease-in-out;
    color: #fff;
    text-decoration: none;
  } */ */
/*   
  .siteHeader--home .nav-button {
    color: #fff;
  }
  
  .nav-button:hover {
    border-bottom: 4px solid #fff;
  }
  
  .siteHeader--home .nav-button:hover {
    border-bottom-color: #fff;
  }
  
  .nav-button-selected {
    color: #fff;
    text-decoration: none;
    border-bottom: 4px solid #fff;
  }
  
  .siteHeader--home .nav-button-selected {
    color: #fff;
    border-bottom-color: #fff;
  }
  
  .nav-tickets-button {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    align-self: flex-end;
    color: #fff;
    text-shadow: none;
    width: 190px;
    height: 48px;
    background-color: transparent;
    border: 2px solid #fff;
    outline: none;
  } */
  
  /* .nav-tickets-button:active {
    transition: none;
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(67, 67, 67, 0.3);
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(67, 67, 67, 0.3);
    box-shadow: inset 0px 0px 0px 3px rgba(67, 67, 67, 0.3);
  } */
/*   
  .siteHeader--home .nav-tickets-button {
    color: #2d758c;
    border-color: #2d758c;
  }
  
  .nav-tickets-button:hover {
    color: #180032;
    text-shadow: none;
    width: 190px;
    height: 48px;
    left: 1690px;
    top: 24px;
    background-color: #fff;
    border-style: none;
  }
  
  .siteHeader--home .nav-tickets-button:hover {
    color: #dabd8f;
    background-color: #180032;
  }
   */
  /****************************************************/
  
  .hero-bg {
    /* background-image: url(images/hero-bg.svg); */
    width: 100%;
    height: 100%;
    /* background-size: cover; */
    background-size: 125% auto;
    background-position: top center;
      
  /*  background-color: #4462b1;*/
  }
  
  .hero {
    /* background: #3379ff;
    padding-top: 258px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-tickets-button {
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9ac3d;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-family: 'Raleway',serif;
    font-size: 1.25rem;
    /*20px*/
    width: 392px;
    height: 74px;
    background-color: transparent;
    text-shadow: none;
    border: 2px solid #f9ac3d;
    border-radius: 5px;
  }
  
  /* .hero-tickets-button:active {
    transition: none;
    -moz-box-shadow: inset 0px 0px 0px 3px #d4b344;
    -webkit-box-shadow: inset 0px 0px 0px 3px #d4b344;
    box-shadow: inset 0px 0px 0px 3px #d4b344;
  } */
  
  .hero-tickets-button:hover {
    font-size: 1.3rem;
    background-color: transparent;
    color: #f9ac3d;
    border-radius: 15px;
  }
  
  .countdown {
    height: 10.2vh;
    position: relative;
    background-image: url(images/bg.png);
    background-position: center;
    background-repeat: repeat-y;
    text-align: center;
  }
  
  .countdown:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    background: #434343;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) rotate(45deg);
  }
  
  .countdown-label {
    text-align: right;
    color: #f4f4f9;
    background-color: #434343;
    /* Shifts graphic to right side */
    margin-left: 530px;
    padding: 28px 36px 28px 28px;
  }
  
  .countdown-title {
    font-style: normal;
    font-weight: 800;
    font-size: 2.25rem;
    margin-bottom: 8px;
    padding-top: 8px;
  }
  
  .countdown-hashtag {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }
  
  .countdown-timer {
    padding-top: 16px;
    display: flex;
    color: #434343;
  }
  
  .countdown-section {
    /* Spacing between text inside countdown bar */
    margin-left: 64px;
    padding-bottom: 8px;
  }
  
  .countdown-section:first-child {
    margin-left: 36px;
  }
  
  .countdown-sectionNumber {
    font-size: 2.25rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    margin-bottom: 8px;
  }
  
  .countdown-sectionLabel, .countdown-sectionNumber {
    width: 3rem;
    text-align: center;
  }
  
  .intro {
    background: rgba(244, 244, 249, 0.85);
  }
  
  .welcome {
    background-color: #1A0032;
    height: 81vh;
  }
  
  .FAQ {
    background-color: #1A0032;
    
  }
  
  .sponsorship {
    background-color: #1A0032;
  }
  
  .sponsors {
    background-color: #1A0032;
  }
  
  /*default title style*/
  
  .title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 2rem;
    color: #434343;
    text-align: left;
  }
  
  .title--center {
    text-align: center;
  }
  
  .para--center {
    text-align: center;
  }
  
  .newsletter {
    background-color: #434343;
  }
  
  .title--white {
    color: #f4f4f9;
  }
  
  .para--newsletter {
    color: #bababa;
  }
  
  .form-input-text {
    width: 404px;
    height: 48px;
    padding-left: 12px;
    font-weight: normal;
    border-style: none;
  }
  
  .sub-button {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: #f4f4f9;
    text-shadow: none;
    width: 190px;
    height: 48px;
    background-color: #3379ff;
    border-style: none;
    outline: none;
  }
  
  .sub-button:active {
    transition: none;
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(67, 67, 67, 0.3);
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(67, 67, 67, 0.3);
    box-shadow: inset 0px 0px 0px 3px rgba(67, 67, 67, 0.3);
  }
  
  .sub-button:hover {
    background-color: #2967df;
  }
  
  .streams-pic {
    box-sizing: border-box;
    width: 695px;
    height: 445px;
  }
  
  .streams-textRight {
    background-color: #3379ff;
    /* height: 286px; */
    padding: 71px;
    margin-left: -89px;
  }
  
  .streams-textLeft {
    margin-left: 0px;
    margin-right: -89px;
  }
  
  .para--streams {
    color: #d4d4d4;
  }
  
  .quote {
    background-color: #434343;
  }
  
  .quote-pic {
    /* Image size */
    width: 190px;
    height: 190px;
  }
  
  .quote-marks {
    font-family: serif;
    font-style: normal;
    font-weight: 600;
    line-height: 10%;
    font-size: 100px;
    color: #f4f4f9;
  }
  
  .quote-marks:first-child {
    position: absolute;
    top: 25px;
    left: -60px;
    opacity: 0.2;
  }
  
  /*.quote-marks:last-child {
    position: relative;
    bottom: -10px;
    right: -3px;
    /* font-size: 4rem;
    opacity: 0.2;
  }*/
  
  .quote-text {
    position: relative;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    font-size: 1.85rem;
    color: #d4d4d4;
    margin-bottom: 20px;
  }
  
  .quote-text:after {
    content: "";
    display: block;
    width: 9%;
    padding-top: 36px;
    border-bottom: 1.5px solid #3379ff;
    /*opacity: 0.2;*/
  }
  
  .quote-author {
    font-weight: 600;
    font-size: 1.00rem;
    line-height: normal;
    color: #f4f4f9;
    letter-spacing: 2px;
  }
  
  .sponsors-item {
    /* Image size */
    box-sizing: border-box;
    /* border: 1px solid cyan; */
    /* width: 33%; */
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sponsors-logos {
    /* background: #bababa; */
    width: 303px;
    height: 200px;
  }
  
  /* .sponsor-logo {
    transition: all 0.2s ease-in-out;
  } */
  
  /* .sponsor-logo:hover {
    opacity: 0.5;
  } */
  
  /** Footer CSS **/
  
  footer {
    background-color: #e8e8e8;
    color: #434343;
  }
  
  .footer-hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #d4d4d4;
  }
  
  .eachLink-top {
    transition: all 0.2s ease-in-out;
    color: #434343;
    text-decoration: none;
    line-height: 25px;
  }
  
  .bottomLink-item {
    display: inline;
  }
  
  .bottomLink-item:before {
    content: " | ";
    opacity: 0.2;
  }
  
  .bottomLink-item:first-child:before {
    content: "";
  }
  
  .eachLink-bottom {
    transition: all 0.2s ease-in-out;
    color: #434343;
    text-decoration: underline;
  }
  
  .eachLink-bottom:hover, .eachLink-top:hover {
    color: #3379ff;
  }
  
  .socialLink-item {
    /*color: cyan;
    font-weight: 300;*/
    /* Image size */
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    /*border: 1px solid cyan;
    /*background-color: #bababa;*/
    margin-left: 22px;
  }
  
  .social-icon:hover .social-icon-fill {
    transition: all 0.2s ease-in-out;
    fill: #3379ff;
  }
  
  /** end of Homepage CSS **/
  
  .title--main {
    font-weight: 900;
    font-size: 4rem;
    /* 64px */
  }
  
  .stats-icon {
    /* Image size */
    box-sizing: border-box;
    width: 88px;
    height: 88px;
    margin-left: 6px;
    /*border: 1px solid cyan;*/
  }
  
  .stats-icon--speakers {
    margin-left: -20px;
  }
  
  .stats-number {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 2rem;
    /* 32px */
    text-align: left;
    color: #3379ff;
    margin-left: 18px;
  }
  
  .stats-number--speakers {
    margin-left: 0px;
    padding-left: 0px;
  }
  
  .stats-type {
    font-weight: normal;
    font-size: 1rem;
    /* 16px */
  }
  
  .welcome-pic {
    /* Image size */
    box-sizing: border-box;
    width: 695px;
    height: 544px;
    /*border: 1px solid cyan;*/
  }
  
  .pres-message {
    background-image: linear-gradient(270deg, #434343 24.88%, rgba(67, 67, 67, 0.5) 100%), url(images/team_photo_cropped.png);
    /*width: 100vw;*/
    width: 100%;
    background-size: cover;
    background-position: top center;
    color: #d4d4d4;
  }
  
  .subtitle {
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
  }
  
  .signature {
    font-family: "Herr Von Muellerhoff", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 75px;
    color: #f4f4f9;
  }
  
  .FAQ-items--question {
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 1.25rem;
    /* 20px */
    color: #531d09;
    margin-bottom: 1.5rem;
    /* 24px */
  }
  
  /** end of About page CSS **/
  
  .tickets-pic {
    /* Image size */
    box-sizing: border-box;
    width: 897px;
    height: 215px;
    /*border: 1px solid cyan;*/
  }
  
  .pricingTable {
    border-collapse: collapse;
    width: 100%;
    /*margin-left: 25%;
    margin-right: 25%;*/
    color: #f4f4f9;
  }
  
  .pricingTable-cell {
    text-align: center;
    /*padding: 26px;*/
    padding: 22px;
  }
  
  .pricingTable-body .pricingTable-row:nth-child(odd) {
    background: linear-gradient(270deg, rgba(67, 67, 67, 0) 0%, #595959 50%, rgba(67, 67, 67, 0) 100%);
  }
  
  .pricingTable-body .pricingTable-cell:first-child {
    text-align: left;
    padding-left: 0;
  }
  
  .pricingTable-header .pricingTable-cell:first-child {
    /*width: 25%;*/
    width: 17%;
  }
  
  .pricingTable-header .pricingTable-cell:last-child {
    width: 1px;
    white-space: nowrap;
    padding-right: 0;
  }
  
  .pricingTable-body .pricingTable-cell:last-child {
    padding-right: 0;
  }
  
  .pricing {
    background-color: #434343;
  }
  
  .pricingTable-header {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
  }
  
  .pricingTable-text--greyedOut {
    color: #888888;
  }
  
  .pricingTable-prices {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 36px;
    text-align: center;
  }
  
  .pricing-details-label {
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    color: #f4f4f9;
  }
  
  .pricing-convert-link {
    transition: all 0.2s ease-in-out;
    color: #bababa;
  }
  
  .pricing-convert-link:hover {
    color: #3379ff;
  }
  
  .pricingTable-days {
    font-size: 16px;
    font-weight: 600;
    color: #bababa;
  }
  
  /** Schedule CSS **/
  
  .schedule--legendText {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    color: #888888;
  }
  
  .schedule--legendDot {
    height: 14px;
    width: 14px;
    background-color: #21aefe;
    border-radius: 50%;
    display: inline-block;
    margin-right: 14px;
  }
  
  .schedule--workshopHue {
    background-color: #27ae60;
  }
  
  .schedule--panelsHue {
    background-color: #eb5757;
  }
  
  .schedule--expoHue {
    background-color: #bb6bd9;
  }
  
  /** Timetable code **/
  
  .schedule {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
  }
  
  .schedule-column {
    position: relative;
    width: 240px;
    /* <--- adjust individual column width here */
    height: 1620px;
    /*Set max height to "subtract" 8pm height*/
  }
  
  .schedule-column:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
    height: 1620px;
    /*Set max height to "subtract" 8pm height*/
  }
  
  .schedule-time, .schedule-event {
    position: absolute;
  }
  
  .schedule-time {
    border-top: 1px solid #d8d8d8;
    width: 1200px;
    /* <--- adjust total table width here */
  }
  
  /*.schedule-time:last-child {
    transform: translateY(12px);
    border-bottom: 1px solid #d8d8d8;
    }*/
  
  .schedule-timeLabel {
    background: white;
    width: 60px;
    transform: translateY(-50%);
    text-align: right;
    padding-right: 10px;
  }
  
  .schedule-event {
    background: black;
    color: white;
    /*For adding space between columns*/
    left: 0px;
    right: 0px;
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
    /*default font style for event details*/
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #E0E0E0;
  }
  
  /*.schedule-event:hover {
    overflow: visible;
    }*/
  
  .schedule--track1 .schedule-event {
    background-color: #21aefe;
  }
  
  .schedule--track2 .schedule-event {
    background-color: #27ae60;
  }
  
  .schedule--track3 .schedule-event {
    background-color: #eb5757;
  }
  
  .schedule--track4 .schedule-event {
    background-color: #bb6bd9;
  }
  
  .schedule-event--special {
    background: blue !important;
  }
  
  .is-hidden {
    display: none;
  }
  
  .scheduleToggle {
    border: 2px solid #3379ff;
    border-radius: 5px;
  }
  
  .daySwitcher {
    position: relative;
  }
  
  .daySwitcher-radio {
    position: absolute;
    visibility: hidden;
  }
  
  .daySwitcher-label {
    color: #3379ff;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    display: inline-block;
    width: 196px;
    padding: 12px 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .daySwitcher-radio:checked+.daySwitcher-label {
    background: #3379ff;
    color: white;
    filter: none;
  }
  
  .daySwitcher-label:hover {
    /*filter: invert(82%) sepia(16%) saturate(537%) hue-rotate(196deg) brightness(102%) contrast(101%);*/
    /*filter: invert(100%) sepia(73%) saturate(1675%) hue-rotate(179deg) brightness(102%) contrast(108%);*/
    /*filter: invert(52%) sepia(69%) saturate(1557%) hue-rotate(158deg) brightness(106%) contrast(109%);*/
    color: #00cbff;
  }
  
  .daySwitcher-label:active {
    color: #2967df;
  }
  
  .event-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #F4F4F9;
  }
  
  .event-propertyName {
    display: none;
  }
  
  .schedule-event {
    transition: 0.3s;
  }
  
  .schedule-event:hover {
    margin-top: -5px;
  }
  
  .schedule-event:hover .event-propertyName {
    display: inline;
  }
  
  .event-time {
    display: none;
  }
  
  .schedule-event:hover .event-time {
    display: inline;
  }
  
  /********************/
  
  .speakers {
    background: #747474;
  }
  
  .speakersContainer {
    width: 798px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
      
  }
  
  .speaker {
    width: 33%;
    text-align: center;
  }
  
  .speaker-headshot {
    width: 189px;
    height: 189px;
  }
  
  .speaker-name {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
    color: #f4f4f9;
    padding-top: 10px;
  }
  
  /** Venue CSS starts here **/
  
  .venue-pic {
    /* Image size */
    box-sizing: border-box;
    width: 493px;
    height: 176px;
    /*border: 1px solid cyan;*/
  }
  
  .map {
    width: 1200px;
    height: 640px;
    background-color: grey;
  }
  
  .map-frame {
    border: 0px;
    /*used because frameborder is obsolete*/
  }
  
  .accommodation--title {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: normal;
    color: #434343;
  }
  
  .download-package-button {
    width: 291px;
  }
  
  .download-package-button:hover {
    width: 291px;
  }
  
  .download-package-button:active {
    width: 291px;
  }
  
  .sponsors-pic {
    box-sizing: border-box;
    width: 731px;
    height: 280px;
    /*border: 1px solid cyan;*/
  }
  
  /** Contact CSS starts here **/
  
  .contact-form--label {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    color: #434343;
  }
  
  .contact-form--input {
    margin-top: 12px;
    width: 594px;
    height: 48px;
    padding-left: 12px;
    border: 1px solid #d1d1d1;
  }
  
  .contact-form--inputMessage {
    padding-top: 12px;
    height: 240px;
    resize: vertical;
  }
  
  .contactPageGfx {
    background-image: url(images/contact-gfx-left.svg), url(images/contact-gfx-right.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 22%, 100% 22%;
  }
  
  .redAsterisk {
    color: #eb5757;
    padding-right: 4px;
    padding-left: 4px;
  }
  
  .text-left{

color: #fff;
  }

.display-3{
    color: #16BAFF;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.headerText{
    color: #F3F859;
    font-size: 40px;
    font-family: "brandon-grotesque", sans-serif;
    margin-top:-40px;
}
.bodyText{
    color: #15365e;
    font-size: 17px;
    margin-left:17px;
    font-family: "brandon-grotesque", sans-serif;
}

.background{
    color:white; /*Change stuff inside this for background color*/
}
@media (max-width:992px){
    .largeTitle{
        font-size:35px;
    }
}
@media (max-width:992px){
    .bodyText{
        font-size:20px;
    }
}

.about-text{

  font-weight: bold;
}

.imglogos{
  display:flex;
  justify-content: left;

 
}
.navbar-brand {
  font-size: larger;
  color:white;
  
}
.nav{
  padding:0px;
  margin: 0px;
}
nav ul {
  padding: 0;
  display: flex;
  float: left;
  /* align-items: right; */
  justify-content: space-between;
  list-style-type: none;
  /*margin-right: 15%;*/
  /* overflow: hidden; */
max-width: 100%;
margin:0px;
}

nav li a {
  font-family: 'Raleway';
  font-size: 20px;
  padding: 20px;
  color: white ;
  font-weight: bold;
  display: inline;
  max-width: 100%;
}
/* nav li a:hover {
  color  ;
} */
.navbar-custom {
  background-color:#1A0032;
  height: 150px;
  max-width: 100%;
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;

}
.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}

.grid-item {
  color: #f3f859;
  font-family: 'Raleway',serif;
  text-align: left;
  padding: 10px;
  font-size: 50px;
  font-weight: bold;
}
.grid-item p{
  color:#fff;
  font-family: 'Raleway',serif;
  text-align: left;
  font-size: 25px;
   
  padding:5px;
}
.item1 {
  grid-column: 1 ;
  grid-row: 1;
  max-width:80%;
  color: goldenrod;
}
.item2{
  grid-column: 2 ;
  grid-row: 1/span 2;
}
.item3 {
  grid-column: 1;
  grid-row: 2;
}
.calligram{     
  width: 650px;
  height: 650px;     
  align-items: center;      
  justify-items: center;

}
.peddie{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.bodyTextfaq{
  padding-bottom: 3%;
  
}

.headerText{
  padding-top: 3%;
}
.aligncenter {
  text-align: center;
}

.column2 p {
  color:black;
  font-family: 'Raleway', serif;
  font-size: 20px;
  padding: 5px;
  text-align: left;
  font-weight: bold;
  
}
.column2 p2 {
  color:black;
  font-family:'Raleway', serif;
  font-size: 30px;
  padding: 5px;
  text-align: center;
}
#rect{
  width: 400px;
  height: 600px;
  background-color:goldenrod;
  padding:20px;
  border-radius: 20px;
}
h2 {
  text-align: center;
  font-family: 'Raleway', serif;
  font-size: 80px;
  color: white;
  font-weight: bold;
  padding: 15px;
}
.row {
  display: flex;
}
.column {
  flex: 20%;
  width: 20%;
  align-items: center; 
}
.column img {
  width: 300px;
  height: 320px;
  background-size: cover;
}
.column4 {
  flex: 25%;
  width: 25%;
  align-items: center; 
}
.row2{
  padding-left:12%;
  padding-right:12%;
  display: flex;
}
.column4 img{
  width: 300px;
  height: 320px;
  background-size: cover;
}
.img-with-text {
  text-align: center;
}
.column p {
  color:goldenrod;
  font-family: 'Raleway', serif;
  font-size: 16px;
  font-weight: bold;
}
.column4 p {
  color:goldenrod;
  font-family: 'Raleway', serif;
  font-size: 16px;
  font-weight: bold;
}

#rect2{
  width: 300px;
  height: 375px;
  background-color:goldenrod;
  padding: 20px;
  border-radius: 20px;
}
#rect3{
  width: 325px;
  height: 325px;
  background-color:goldenrod;
  /* padding-left: 7.5%;
  padding-right: 0%;
  padding-bottom: 10% ; */
  border-radius: 0px 0px 0px 20px;
  padding-top:10px;
}
#rect4{
  width: 325px;
  height: 325px;
  background-color:goldenrod;
  /* padding-left: 0%;
  padding-right: 7.5%;
  padding-bottom: 10% ; */
  border-radius: 0px 0px 20px 0px;
  padding-top:10px;

}
/* #rect5{
  width: 100%;
  height: 75px;
  background-color:goldenrod;
  padding-bottom: 0% ;
  border-radius: 20px 20px 0px 0px;
  align-items: center;
} */
.section2 {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 1%;
  grid-auto-flow: column;
 padding: 15px;
}
.column3 p {
  color:black;
  font-family: 'Raleway', serif;
  font-size: 15px;
  padding: 3px;
  text-align:center;
  font-weight: bold;
  
}
.column5 p2 {
  color:black;
  font-family:'Raleway', serif;
  font-size: 30px;
  text-align: center;
}
.column3 p2 {
  color:black;
  font-family:'Raleway', serif;
  font-size: 22px;
  text-align: center;
  padding:10px;
}

.column3 {
  flex: 50%;
  /* padding-left: 7.5%;
  padding-bottom: 10%; */
  padding-right: 0%;
}
.row3{
  display: flex;
  /* padding-left: 7.5%;
  padding-right: 7.5%; */
  text-align: center;
  /* padding-bottom: 1.8%; */
}
.row4{
  display: flex;
  padding-left: 7.5%;
  padding-right: 7.5%;
  text-align: center;
}
.column5{
  padding-left: 7.5%;
  padding-right: 7.5%;
  text-align: center; 
  padding:15px;
}
section {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 3%;
  grid-auto-flow: column;
 padding: 1.8%;
}
.column6{
  flex:45%;
  float: center;
margin-left:5%;

}
.column6 p{
  color:#fff;
  font-family: 'Raleway',serif;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  padding:5px;
  margin-right:auto;
  margin-left:auto;
}
.column6 p2{
  
  color: goldenrod;
  font-family: 'Raleway',serif;
  text-align: left;
  padding: 10px;
  font-size: 50px;
  font-weight: bold;
}
.column7 img{
  height:400px;
  width:400px;
align-items: center;
padding: 20px;
margin-left: 15%;
}
.row5{
  display: flex;
  align-items: center;
}
.row5 img{
  height: 350px;
  width: 100%;
}
.column7 {
flex:30%;
}

#rect6 {
  width: 300px;
  height: 675px;
  background-color:goldenrod;
  padding: 20px;
  border-radius: 20px;
}

#rect7 {
  width: 650px;
  height: 50px;
  background-color:goldenrod;
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
}
.section3 {
  display: inline-block;
  grid-auto-flow: column;
 padding: 1.8%;
}
.swag{
  display: inline-flex
}
.swag2{
  display:table-column;
}